body{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
 background-color: beige;
}

table{
    width: 100%;
}

tr{
    width: 100%;
}

div{
    width: auto;
}

ul{
    width: auto;
}

form{
    width: auto;
}

label{
    font-size: larger;
}

input{
    background-color: gainsboro;
    font-size: x-large;
}

h1{
    text-align: center;
    color: rgb(0, 72, 13);
}

h2{
    color: darkblue;
}

h3{
    font-size: larger;
    color: black;
}

p{
    color: black;
}

img{
    width: 100%;
}

th{
    font-size:x-large;
}

td{
    font-size:x-large;
}

.TH69{
    width: 69%;
}

.TH29{
    width: 29%;
}

.navTable{
    width: 100%;
}

.imageTable{
    width: 100%;
}

.navLink{
    background-color: aqua;
    width:16.66%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto 20px;
}

.navLink:hover{
    background-color: black;
}

.navLink>a{
    display: block;
    width: 100%;
    font-size: x-large;
}


.navLink>a:hover{
    color: white;
}

.rightTd{
    background-color: lightblue;
}

#week01{
    background-color: gray;
}

#week02{
    background-color: aqua;
}